### Write a python program to display list of 50 Most expensive cars in the world (i.e. Car name and Price) from https://www.motor1.com/
#### This task will be done in following steps:
1. First get the webpagehttps://www.motor1.com/
2. Then You have to type in the search bar ’50 most expensive cars’
3. Then click on 50 most expensive carsin the world..
4. Then scrap the mentioned data and make the dataframe

In [1]:
import selenium
from selenium import webdriver
from selenium.webdriver.common.by import By

In [2]:
# connect to the driver
driver = webdriver.Chrome(r"C:\Users\pc\Downloads\chromedriver_win32\chromedriver.exe")

C:\Users\pc\AppData\Local\Temp\ipykernel_32512\1837703844.py:2: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome(r"C:\Users\pc\Downloads\chromedriver_win32\chromedriver.exe")

In [3]:
driver.get("https://www.motor1.com/")

In [5]:
top50=driver.find_element(By.ID,"search_input")
top50.send_keys("50 most expensive cars")

In [6]:
cl=driver.find_element(By.XPATH,'//button[@class="m1-search-panel-button m1-search-form-button-animate icon-search-svg"]')
cl.click()

In [8]:
EX=driver.find_element(By.XPATH,'/html/body/div[3]/div[9]/div/div[1]/div/div/div[2]/div/div[1]/h3/a')
EX.click()

In [18]:
Car=[]
name=driver.find_elements(By.TAG_NAME,"h3")
for i in name:
    Car.append(i.text)

In [19]:
print(Car.remove("Most Expensive Cars In The World"))

None

In [20]:
Price=[]
p=driver.find_elements(By.XPATH,'/html/body/div[3]/div[7]/div[2]/div[1]/div[2]/div[1]/p/strong')
for i in p:
    Price.append((i.text.split("$"))[-1])

In [23]:
print(Price)

['1.3 Million', '1.4 Million', '1.4 Million', '', '1.7 Million', '1.7 Million', '1.7 Million', '1.7 Million', '1.7 Million', '1.7 Million', '1.8 Million', '1.9 Million', '1.9 Million', '2.0 Million', '2.0 Million', '2.0 Million*', '2.1 Million', '2.3 Million', '2.3 Million', '2.3 Million', '2.4 Million', '2.5 Million', '2.5 Million', '2.6 Million', '2.6 Million', '2.6 Million', '2.7 Million', '3.0 Million', '3.0 Million', '3.0 Million', '3.2 Million', '3.4 Million', '3.5 Million', '3.5 Million', '3.6 Million', '3.6 million', '3.7 Million', '3.9 Million', '4.5 Million', '4.7 Million', '5.0 Million', '5.4 Million', '5.8 Million', '6.4 Million', '7.4 Million', '8.0 Million', '9.0 Million', '10.8 Million', '12.8 Million', '13.4 Million', '28.0 Million (est.)']

In [24]:
print(len(Car),len(Price))

51 51

In [25]:
import pandas as pd
df=pd.DataFrame({"Car Name":Car,"Price":Price})
df

                           Car Name                Price
0                     De Tomaso P72          1.3 Million
1                 Ferrari LaFerrari          1.4 Million
2                     Pagani Huayra          1.4 Million
3                      McLaren Elva
4                       Czinger 21C          1.7 Million
5                     Ferrari Monza          1.7 Million
6                Gordon Murray T.33          1.7 Million
7                 Koenigsegg Gemera          1.7 Million
8                       Zenvo TSR-S          1.7 Million
9                Hennessey Venom F5          1.7 Million
10                  Bentley Bacalar          1.8 Million
11    Hispano Suiza Carmen Boulogne          1.9 Million
12           Bentley Mulliner Batur          1.9 Million
13                     Deus Vayanne          2.0 Million
14                      SSC Tuatara          2.0 Million
15                      Lotus Evija         2.0 Million*
16              Aston Martin Vulcan          2.1 Million
17                       Delage D12          2.3 Million
18                McLaren Speedtail          2.3 Million
19                     Rimac Nevera          2.3 Million
20                    Pagani Utopia          2.4 Million
21             Pininfarina Battista          2.5 Million
22                Ferrari FXX K Evo          2.5 Million
23               Gordon Murray T.50          2.6 Million
24             Lamborghini Countach          2.6 Million
25         Mercedes-AMG Project One          2.6 Million
26              Aston Martin Victor          2.7 Million
27      Hennessey Venom F5 Roadster          3.0 Million
28                 Koenigsegg Jesko          3.0 Million
29            Aston Martin Valkyrie          3.0 Million
30        W Motors Lykan Hypersport          3.2 Million
31                    McLaren Solus          3.4 Million
32        Pagani Huayra Roadster BC          3.5 Million
33         Bugatti Chiron Pur Sport          3.5 Million
34                 Lamborghini Sian          3.6 Million
35                 Koenigsegg CC850          3.6 million
36  Bugatti Chiron Super Sport 300+          3.7 Million
37               Lamborghini Veneno          3.9 Million
38                   Bugatti Bolide          4.5 Million
39                  Bugatti Mistral          4.7 Million
40              Pagani Huayra Imola          5.0 Million
41                     Bugatti Divo          5.4 Million
42              SP Automotive Chaos          5.8 Million
43                 Pagani Codalunga          6.4 Million
44         Mercedes-Maybach Exelero          7.4 Million
45               Bugatti Centodieci          8.0 Million
46          Bugatti Chiron Profilée          9.0 Million
47             Rolls-Royce Sweptail         10.8 Million
48         Bugatti La Voiture Noire         12.8 Million
49           Rolls-Royce Boat Tail*         13.4 Million
50                             FAQs  28.0 Million (est.)