In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv("csv1(raw).csv")
df

,Name,Year,ratings,Director,Duration of the movie,Metascore
0,The Dark Knight,2008,9.0,Christopher Nolan,152 min,84.0
1,The Lord of the Rings: The Return of the King,2003,9.0,Peter Jackson,201 min,94.0
2,The Lord of the Rings: The Fellowship of the Ring,2001,8.8,Peter Jackson,178 min,92.0
3,Inception,2010,8.8,Christopher Nolan,148 min,74.0
4,The Lord of the Rings: The Two Towers,2002,8.8,Peter Jackson,179 min,87.0
...,...,...,...,...,...,...
1721,Radhe,2021,1.9,Prabhu Deva,135 min,NaN
1722,Race 3,2018,1.9,Remo D'Souza,160 min,NaN
1723,Angels Apocalypse,2015,1.6,"Sean Cain, Enzo Zelocchi",85 min,NaN
1724,The Cost of Deception,2021,1.5,Keith English,125 min,NaN
1725,Sadak 2,2020,1.2,Mahesh Bhatt,133 min,NaN

In [3]:
df['Year'].unique()

array([2008, 2003, 2001, 2010, 2002, 1999, 1980, 2020, 1977, 1991, 1954,
       1962, 2022, 2000, 1994, 2019, 1981, 2012, 2018, 1986, 1995, 1983,
       1997, 1959, 2016, 2021, 1993, 1989, 2005, 1998, 1988, 2011, 1985,
       2017, 1961, 1924, 2015, 1982, 1984, 2013, 1926, 1958, 1949, 1975,
       2014, 2006, 2004, 2007, 2009, 1964, 1969, 1938, 1987, 1972, 1967,
       1992, 1971, 1960, 1973, 1932, 1948, 1979, 1968, 1996, 1974, 1990,
       1963, 1970, 1978, 1976, 2023, 1966, 1953, 1965], dtype=int64)

In [4]:
df['directors_list'] = df['Director'].str.split(',')

In [5]:
df_direc = pd.DataFrame(df['directors_list'].tolist()).fillna('').add_prefix('Director_')
# df.add_prefix('Sold_')
df_direc=df_direc.rename(columns = {'Director_0':'Director1','Director_1':'Director2','Director_2':'Director3','Director_3':'Director4','Director_4':'Director5','Director_5':'Director6'})
df_direc

,Director1,Director2,Director3,Director4,Director5,Director6
0,Christopher Nolan,,,,,
1,Peter Jackson,,,,,
2,Peter Jackson,,,,,
3,Christopher Nolan,,,,,
4,Peter Jackson,,,,,
...,...,...,...,...,...,...
1721,Prabhu Deva,,,,,
1722,Remo D'Souza,,,,,
1723,Sean Cain,Enzo Zelocchi,,,,
1724,Keith English,,,,,
1725,Mahesh Bhatt,,,,,

In [6]:
df = pd.concat([df, df_direc], axis=1)

df

,Name,Year,ratings,Director,Duration of the movie,Metascore,directors_list,Director1,Director2,Director3,Director4,Director5,Director6
0,The Dark Knight,2008,9.0,Christopher Nolan,152 min,84.0,[ Christopher Nolan ],Christopher Nolan,,,,,
1,The Lord of the Rings: The Return of the King,2003,9.0,Peter Jackson,201 min,94.0,[ Peter Jackson ],Peter Jackson,,,,,
2,The Lord of the Rings: The Fellowship of the Ring,2001,8.8,Peter Jackson,178 min,92.0,[ Peter Jackson ],Peter Jackson,,,,,
3,Inception,2010,8.8,Christopher Nolan,148 min,74.0,[ Christopher Nolan ],Christopher Nolan,,,,,
4,The Lord of the Rings: The Two Towers,2002,8.8,Peter Jackson,179 min,87.0,[ Peter Jackson ],Peter Jackson,,,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1721,Radhe,2021,1.9,Prabhu Deva,135 min,NaN,[ Prabhu Deva ],Prabhu Deva,,,,,
1722,Race 3,2018,1.9,Remo D'Souza,160 min,NaN,[ Remo D'Souza ],Remo D'Souza,,,,,
1723,Angels Apocalypse,2015,1.6,"Sean Cain, Enzo Zelocchi",85 min,NaN,"[ Sean Cain, Enzo Zelocchi ]",Sean Cain,Enzo Zelocchi,,,,
1724,The Cost of Deception,2021,1.5,Keith English,125 min,NaN,[ Keith English ],Keith English,,,,,
1725,Sadak 2,2020,1.2,Mahesh Bhatt,133 min,NaN,[ Mahesh Bhatt ],Mahesh Bhatt,,,,,

In [8]:
df.drop(['directors_list','Director'],axis=1,inplace=True)

In [9]:
df.to_csv("CSV1_normalized.csv",index=False)

In [10]:
data=pd.read_csv("CSV1_normalized.csv")
data

,Name,Year,ratings,Duration of the movie,Metascore,Director1,Director2,Director3,Director4,Director5,Director6
0,The Dark Knight,2008,9.0,152 min,84.0,Christopher Nolan,NaN,NaN,NaN,NaN,NaN
1,The Lord of the Rings: The Return of the King,2003,9.0,201 min,94.0,Peter Jackson,NaN,NaN,NaN,NaN,NaN
2,The Lord of the Rings: The Fellowship of the Ring,2001,8.8,178 min,92.0,Peter Jackson,NaN,NaN,NaN,NaN,NaN
3,Inception,2010,8.8,148 min,74.0,Christopher Nolan,NaN,NaN,NaN,NaN,NaN
4,The Lord of the Rings: The Two Towers,2002,8.8,179 min,87.0,Peter Jackson,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
1721,Radhe,2021,1.9,135 min,NaN,Prabhu Deva,NaN,NaN,NaN,NaN,NaN
1722,Race 3,2018,1.9,160 min,NaN,Remo D'Souza,NaN,NaN,NaN,NaN,NaN
1723,Angels Apocalypse,2015,1.6,85 min,NaN,Sean Cain,Enzo Zelocchi,NaN,NaN,NaN,NaN
1724,The Cost of Deception,2021,1.5,125 min,NaN,Keith English,NaN,NaN,NaN,NaN,NaN
1725,Sadak 2,2020,1.2,133 min,NaN,Mahesh Bhatt,NaN,NaN,NaN,NaN,NaN

In [12]:
df['Director2'].value_counts()

                           1618
 Joe Russo                    5
 Lilly Wachowski              5
 Brian Taylor                 4
 Espen Sandberg               4
                           ...
 Kleber MendonÃ§a Filho        1
 Carlos LÃ³pez Estrada         1
 David Leitch                 1
 Akshat Verma                 1
 Enzo Zelocchi                1
Name: Director2, Length: 88, dtype: int64